<form class="form-horizontal" id="OctoLampSettings">
    <div class="control-group">
        <label class="control-label">{{ _('Username') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Password') }}</label>
        <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: settings.plugins.OctoLamp.password">
        </div>
    </div>
</form>
<div class="control-group">
                <div class="controls">
                    <button type="button" class="btn" data-bind="click: test">Test login</button>
                </div>
    </div>